<div class="card">
    <div class="card-body">
        <div class="card-body">
            <h1 class="align-center turquoise">Welcome To Our University</h1>
            <p>
                In the current digital age, websites have become an essential means of experimentation, learning and
                collaboration.
                In this way, the academic field does not remain in the past, and university websites improve and develop
                to
                provide
                a spectacular and efficient user experience for students and lecturers alike. One of the most successful
                and
                impressive websites in this field is our website - "University Courses".
            </p>

            <h3 class="under-line turquoise">
                Building site:
            </h3>

            <p>
                The "University Courses" website offers a unique online platform that allows students and lecturers to
                browse
                between courses and manage their learning in an organized and friendly manner. The site is carefully
                planned
                and
                designed so that it is clear and accessible to use, even for new and inexperienced users in the world of
                computers.
            </p>
            <p>
                The main page of the site presents a spectacular and inviting user interface, with popular course cards,
                links
                to
                different categories of courses and information about the university itself. The details shown on the
                course
                cards
                include a title, an embedded image, a short description, and a link to register.
            </p>
            <h3 class="under-line turquoise">
                Key features:
            </h3>
            <ol>
                <li>
                    <span class="bold">
                        Convenient and friendly navigation:
                    </span>
                    The site offers a simple and friendly navigation interface that
                    allows
                    users to easily find the courses that interest them.
                </li>
                <li>
                    <span class="bold">
                        Advanced search:
                    </span>
                    An advanced search engine allows users to search for courses according to several
                    parameters, including name, category or learning method.
                </li>
            </ol>
        </div>
    </div>
</div>