#courseForm img {
    max-width: 100%;
    margin-bottom: 1rem;
}

select {
    appearance: none;
}

.forOptionLearning {
    padding: 1rem 0.75rem 0rem 0.75rem;
}

#forOptionLearning {
    color: rgba(var(--bs-body-color-rgb), .65);
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem);
    text-align: start;
}