<div class="container">
  <div class="text-center">
    <h2 class="turquoise">All Courses</h2>
  </div>
  <div class="input-group">
    <div class="form-floating">
      <input class="form-control" id="searchByName" placeholder="" type="text" #seachByName
        (change)="search('name', seachByName.value)" aria-describedby="button" />
      <label for="searchByName">Search By Name:</label>
    </div>
    <button class="btn btn-outline-secondary" type="button btn-success" id="button">Search</button>
  </div>
  <div class="input-group form-floating">
    <select class="form-select" id="categoryId" #seachByCategory (change)="search('category', seachByCategory.value)">
      <option [value]="0">None</option>
      <option *ngFor="let category of categories" [value]="category.id"> {{category.name }} </option>
    </select>
    <label for="categoryId">Search By Category:</label>
  </div>
  <div class="input-group form-floating">
    <select class="form-select" id="option" #searchByOption (change)="search('option', searchByOption.value)">
      <option [value]="0">None</option>
      <option [value]="1">ZOOM</option>
      <option [value]="2">FRONTAL</option>
    </select>
    <label for="option">Search By Option Learning:</label>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let course of courses">
      <div class="card margin-top" (click)="navigateToDetails(course.id)">
        <img [src]="'../../../../../' + course.image" class="card-img-top" alt="Course Image">
        <div class="card-body align-start">
          <h4 class="card-title turquoise align-center">{{ course.name }}</h4>
          <div class="card-text">
            <div class="inline">
              <img [src]="matchCategory(course.categoryId)?.icon" alt="category icon" class="radio-icon">
              <h6 class="turquoise inline"> Category: </h6>
            </div>
            <p class="inline">{{ matchCategory(course.categoryId)?.name }}</p>
          </div>
          <div class="card-text">
            <div class="inline">
              🕑
              <h6 class="turquoise inline">Length Of Course:</h6>
            </div>
            <p class="inline">{{ course.numberLessons }} Hours</p>
          </div>
          <div class="card-text">
            <div class="inline">
              📆
              <h6 class="turquoise inline"> Course Start Date:</h6>
            </div>
            <p class="inline">{{ course.dateStart | date }}</p>
          </div>
          <div class="card-text">
            <div class="inline">
              <img alt="Learning Option Icon" class="radio-icon"
                [src]="course?.optionLearning?.toString() | learningOptionIcon">
              <h6 class="turquoise inline"> Learning Option: </h6>
            </div>
            <p class="inline">{{ course.optionLearning?'zoom':'frontal' }}</p>
          </div>
          <div class="card-text">
            <div class="inline">
              👨‍🏫
              <h6 class="turquoise inline">Lecturer: </h6>
            </div>
            <p class="inline">{{ matchLecturer(course.lecturerId)?.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>